---
import { CollectionEntry, getCollection } from 'astro:content';
import { Icon } from 'astro-icon';
import Post from '../../layouts/Post.astro';
import FormattedDate from '../../components/FormattedDate.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content, remarkPluginFrontmatter } = await post.render();
---

<Post title={post.data.title} desc={Content} {...post.data}>
  <h1
    class="transition-all duration-1000 my-8 text-2xl leading-relaxed font-bold underline decoration-4 sm:text-4xl sm:leading-normal"
  >
  {post.data.title}
  </h1>
  <ul class="flex flex-col sm:flex-row gap-4 select-none text-white/50 text-sm">
    {post.data.archived &&
      <li class="flex flex-row gap-2 text-sm text-yellow-500">
        <Icon name="ic:outline-archive" class="w-4" />
        Archived
      </li>
    }
    <li class="flex flex-row gap-2">
      <Icon name="ic:baseline-edit-calendar" class="w-4 h-4" />
      <FormattedDate date={post.data.date} />
    </li>
    <li class="flex flex-row gap-2">
      <Icon name="ic:baseline-access-time" class="w-4 h-4" />
      {remarkPluginFrontmatter.minutesRead}
    </li>
    <li>
      <ul class="flex flex-row gap-2">
        <Icon name="ic:outline-sell" class="w-4 h-4" />
        {post.data.tags.map((tag) => (
          <li class="-mr-2">{tag}</li>
          <p class="last:hidden">,</p>
        ))}
      </ul>
    </li>
  </ul>
  <article class="
    prose prose-invert prose-img:rounded scrollbar-hide
    prose-blockquote:not-italic prose-blockquote:text-white/75 prose-blockquote:border-white/50 prose-blockquote:bg-white/10 prose-blockquote:rounded prose-blockquote:p-4
    prose-p:before:hidden
    font-mono my-8 sm:prose-lg"
  >
    <Content />
  </article>
</Post>
