---
import Main from "../../layouts/Main.astro";
import Post from "../../components/Post.astro"
import BackButton from "../../components/BackButton.astro";
import { Icon } from 'astro-icon'
import { getCollection } from 'astro:content';

//let posts = await getCollection('blog');
let posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
posts = posts.filter((post) => !post.data.draft);
---

<Main title="Blog Posts" desc="All of my blog posts!">
  <BackButton text="Back to Homepage" href="/" />
  <!-- prettier-ignore -->
  <pre
    class="transition-all duration-1000 mx-auto leading-4 select-none text-transparent bg-clip-text bg-gradient-to-b from-transparent to-white text-xs hidden sm:block lg:text-sm lg:leading-5 hover:text-white">
                     `. ___
                    __,' __`.                _..----....____
        __...--.'``;.   ,.   ;``--..__     .'    ,-._    _.-'
  _..-''-------'   `'   `'   `'     O ``-''._   (,;') _,'
,'________________                          \`-._`-','
 `._              ```````````------...___   '-.._'-:
    ```--.._      ,.                     ````--...__\-.
            `.--. `-`                       ____    |  |`
              `. `.                       ,'`````.  ;  ;`
                `._`.        __________   `.      \'__/`
                   `-:._____/______/___/____`.     \  `
                               |       `._    `.    \
                               `._________`-.   `.   `.___
                                                  `------'`
  </pre>
  <h1 class="transition-all duration-1000 text-2xl font-bold underline decoration-4 sm:text-4xl">
    Blog Posts
  </h1>
  <p class="my-4 text-white/75 italic">
    Here are my blog posts from most recent to oldest.
  </p>
  <ul class="text-xl">
  {
    posts.map((post) => (
      <Post title={post.data.title} date={post.data.date} archived={post.data.archived} tags={post.data.tags} slug={post.slug} />
    ))
  }
  </ul>
</Main>
