---
import { Icon } from 'astro-icon';
const { text, href } = Astro.props;
---

<a href={href} class="group flex flex-row text-sm text-white/50 hover:text-white gap-2 my-4">
  <Icon name="ic:round-arrow-back-ios" class="transition-all duration-500 w-4 h-4 text-white/50 group-hover:-translate-x-1" />
  <p class="transition-all duration-500 text-center -translate-y-0.5">{text}</p>
</a>
