<div class="flex flex-col mx-auto max-w-prose p-8">
  <!-- // prettier-ignore -->
  <pre
    class="mx-auto select-none bg-clip-text text-transparent leading-4 bg-gradient-to-b from-slate-500 to-white text-xs">
      ___
  ___/   \___
 /   '---'   \
 '--_______--'
      / \
     /   \
     /\O/\
     / | \
     // \\  
  </pre>
  <h1 class="mx-auto text-3xl">Oooooooooooops!</h1>
   <p class="mx-auto text-lg">It seems like you ran into an error...</p>
  <a href="/" class="mx-auto">Go home?</a>
</div>
