<script>
  const footerLinks = [
    {
      frontText: "Made with",
      link: "https://astro.build/",
      linkText: "Astro and Svelte",
      afterText: "",
    },
    {
      frontText: "Styled with",
      link: "https://tailwindcss.com",
      linkText: "TailwindCSS",
      afterText: "",
    },
    {
      frontText: "Icons provided by",
      link: "https://iconify.design/",
      linkText: "Iconify",
      afterText: "",
    },
    {
      frontText: "Background by",
      link: "https://unsplash.com/photos/rTZW4f02zY8",
      linkText: "NASA",
      afterText: "",
    },
  ];
</script>

<footer class="flex flex-col font-mono my-10 text-white/50 sm:flex-row">
  <ul>
    {#each footerLinks as footerLink}
      <li>
        {footerLink.frontText}
        <a
          class="transition-all duration-500 text-white/75 hover:font-bold hover:text-white"
          href={footerLink.link}>{footerLink.linkText}</a
        >
        {footerLink.afterText}
      </li>
    {/each}
  </ul>
</footer>
