---
import { Icon } from 'astro-icon'
const { username, repo } = Astro.props;

const url = "https://github.com/" + username +  "/" + repo
---

<a href={url} class="flex flex-col justify-center rounded p-8
  transition duration-500
  ring ring-white/25
  text-white/75 no-underline
  hover:ring-white/50 hover:text-white"
>
  <Icon name="simple-icons:github" class="w-8 h-8" />
  <h3 class="font-normal">Github Repository</h3>
  <h3><b>{username}</b>/<b>{repo}</b></h3>
</a>
