<script>
  const site = [
    {
      name: "Blog",
      link: "/blog",
    },
  ];
  const socials = [
    {
      name: "Matrix",
      link: "https://matrix.to/#/@hardcoreterminaluser69:envs.net",
    },
    {
      name: "Discord",
      link: "https://discord.com/users/1063520096028479611",
    },
    {
      name: "Email",
      link: "mailto:flatware-gold-bronze@tutanota.com",
    },
    {
      name: "Mastodon",
      link: "https://mas.to/@kenos",
    },
  ];
  const git = [
    {
      name: "Codeberg",
      link: "https://codeberg.org/kenos",
    },
    {
      name: "Github",
      link: "https://github.com/kenos1",
    },
  ];
  const dev = [
    {
      name: "Nix/NixOS",
      link: "https://nixos.org",
    },
    {
      name: "Svelte",
      link: "https://svelte.dev",
    },
    {
      name: "Astro",
      link: "https://astro.build",
    },
    {
      name: "TailwindCSS",
      link: "https://tailwindcss.com",
    },
    {
      name: "Rust",
      link: "https://rust-lang.org",
    },
  ];
  const design = [
    {
      name: "Inkscape",
      link: "https://inkscape.org",
    },
    {
      name: "Blender",
      link: "https://blender.org",
    },
  ];
  const lists = [
    { text: "Directory", links: site },
    { text: "Socials", links: socials },
    { text: "Git Accounts", links: git },
    { text: "Technologies", links: dev },
    { text: "Design Tools", links: design },
  ];
</script>

<!-- prettier-ignore -->
<pre
    class="transition-all duration-1000 mx-auto leading-4 select-none text-transparent bg-clip-text bg-gradient-to-b from-transparent to-white text-xs hidden sm:block lg:text-sm lg:leading-5 hover:text-white">
    .                                            .
    *   .                  .              .        .   *          .
 .         .                     .       .           .      .        .
       o                             .                   .
        .              .                  .           .
         0     .
                .          .                 ,                ,    ,
.          \          .                         .
     .      \   ,
  .          o     .                 .                   .            .
    .         \                 ,             .                .
              #\##\#      .                              .        .
            #  #O##\###                .                        .
  .        #*#  #\##\###                       .                     ,
       .   ##*#  #\##\##               .                     .
     .      ##*#  #o##\#         .                             ,       .
         .     *#  #\#     .                    .             .          ,
                     \          .                         .
____^/\___^--____/\____O______________/\/\---/\___________---______________
  /\^   ^  ^    ^                  ^^ ^  '\ ^          ^       ---
        --           -            --  -      -         ---  __       ^
  --  __                      ___--  ^  ^                         --  __
</pre>
<div class="py-4">
  <h1
    class="transition-all duration-1000 text-2xl font-bold underline decoration-4 sm:text-4xl"
  >
    Jason S
  </h1>
  <p class="my-4 text-white/75 italic">
    Average high school computer nerd :P<br />
    Linux enthusiast, programmer and designer
  </p>
</div>
{#each lists as list}
  <p class="font-bold">{list.text}</p>
  <div
    class="transition-all duration-500 group py-4 flex flex-row justify-start hover:translate-x-0.5"
  >
    <span
      class="transition-all duration-500 bg-white/25 w-1 rounded-full group-hover:bg-white/90"
    />
    <div
      class="text-white/50 group-hover:text-white/75 text-left mx-4 w-full"
    >
      <ul>
        {#each list.links as item}
          <li
            class="transition-all duration-500 select-none my-1 hover:font-bold hover:text-white hover:translate-x-1"
          >
            <a class="flex" href={item.link}>{item.name}</a>
          </li>
        {/each}
      </ul>
    </div>
  </div>
{/each}
