---
import FormattedDate from "./FormattedDate.astro"
import { Icon } from 'astro-icon'

const {title, date, archived, tags, slug} = Astro.props;
---

<li class="my-4">
  <a class="transition-all duration-500 group flex flex-col py-4 gap-2 text-white/75 hover:text-white hover:translate-x-1" href={`/blog/${slug}`}>
    <h1>{title}</h1>
    <ul class="flex flex-col sm:flex-row gap-4 text-xs text-white/50">
      {archived &&
        <li class="text-xs text-yellow-500 flex flex-row gap-2">
          <Icon name="ic:outline-archive" class="w-4" />
          Archived
        </li>
      }
      <li class="flex flex-row gap-2">
        <Icon name="ic:baseline-edit-calendar" class="w-4" />
        <FormattedDate date={date} />
      </li>
      <li>
        <ul class="flex flex-row gap-2">
          <Icon name="ic:outline-sell" class="w-4 h-4" />
          {tags.map((tag) => (
            <li class="-mr-2">{tag}</li>
            <p class="last:hidden">,</p>
          ))}
        </ul>
      </li>
    </ul>
  </a>
</li>
