--- 
const { title, desc } = Astro.props;

import '@fontsource-variable/martian-mono';
import { Icon } from 'astro-icon'
import Footer from '../components/Footer.svelte';

const imgCard = 'https://images.unsplash.com/photo-1462331940025-496dfbfc7564?w=640';
const url = 'https://kenos.codeberg.page/';
---

<!DOCTYPE html5>
<html lang="en" class="scroll-smooth bg-black scrollbar-hide">
  <head>
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={desc} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={imgCard} />
    
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={desc} />
    <meta name="twitter:image" content={imgCard} />
    <meta name="twitter:card" content="summary_large_image" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
  </head>
  <body class="bg-hero bg-fixed bg-cover">
    <div class="font-mono text-lg text-white flex flex-col mx-auto max-w-prose p-8">
      <div class="min-h-screen">
        <slot />
      </div>
        <a href="#top" class="transition-all mt-4 -ml-1 duration-500 group flex flex-row gap-2 text-white/50 hover:text-white hover:font-bold">
          <Icon name="ic:round-keyboard-double-arrow-up" class="transition-transform duration-500 w-6 h-6 group-hover:-translate-y-1" />
          Go back to top
        </a>
        <Footer />
    </div>
  </body>
</html>
