--- 
const { title } = Astro.props;

import Main from './Main.astro';
import BackButton from '../components/BackButton.astro'
import { Icon } from 'astro-icon';
---
<Main title={title}>
  <BackButton text="Back to posts" href="/blog" />
  <slot />
</Main>
